# MOHAMMAD TABISH RAZA

## ASSIGNMENT # 5

In [1]:
#5.1
Employees = ('Employee_1','Employee_2','Employee_3','Employee_4')
Employee_1 = ('id' == '1111' , 'name' == 'abcd' , 'department' == 'IT'),
Employee_2 = ('id' == '2222' , 'name' == 'efgh' , 'department' == 'Admin'),
Employee_3 = ('id' == '3333' , 'name' == 'ijkl' , 'department' == 'HR'),
Employee_4 = ('id' == '4444' , 'name' == 'mnop' , 'department' == 'Processing'),
Employees

('Employee_1', 'Employee_2', 'Employee_3', 'Employee_4')

In [2]:
Employees[0]

'Employee_1'

In [3]:
Employees[1]

'Employee_2'

In [4]:
#5.2
Items = ('Apple','Mango','Banana','Orange','Grapes')
Apple = ('Item_id' == 12 , 'Quantity' == 23)
Mango = ('Item_id' == 34 , 'Quantity' == 21)
Banana = ('Item_id' == 56 , 'Quantity' == 15)
Orange = ('Item_id' == 78 , 'Quantity' == 19)
Grapes = ('Item_id' == 90 , 'Quantity' == 10)
Items[2]

'Banana'

In [5]:
#5.3
Schedule = ('Class','Job_Time')
Class = ('Date'== 17-8-24 , 'Time' == '16:OO' , 'End_Time' == '18:00')
Job_Time = ('Date'== 17-8-24 , 'Time' == '07:OO' , 'End_Time' == '15:15')
Schedule[1]

'Job_Time'

In [6]:
#5.4
Empolyee_Details = {
    'Emp_1' : {'name' : 'qwerty' , 'age' : '21' , 'Designation' : 'Engineer'},
    'Emp_2' : {'name' : 'xyz' , 'age' : '24' , 'Designation' : 'Asst_Engineer'},
    'Emp_3' : {'name' : 'abc' , 'age' : '27' , 'Designation' : 'Manager'}
}
Empolyee_Details['Emp_2']

{'name': 'xyz', 'age': '24', 'Designation': 'Asst_Engineer'}

In [7]:
#5.5
Student_Score = [
    {
    'Maths' : [56],
    },
    {
    'English' : [55],
},
 {   'Urdu' : [58],
 },
  {  'Islamiyat' : [54],
}
]
Student_Score

[{'Maths': [56]}, {'English': [55]}, {'Urdu': [58]}, {'Islamiyat': [54]}]

In [8]:
#5.6
Projects = {
    'Project1' : ['FaceBook_Marketing','Instagram_Marketing'],
    'Project2' : ['Search_Engine_Optimization'],
    'Project3' : ['SEM']
}
Projects['Project2']

['Search_Engine_Optimization']

In [9]:
#5.7
Courses = {
    'Data_Analytics' : {'Python','Excel','SQL','Power_Bi'},
    'Dig_Marketing' : {'Fb_Marketing','Insta_Marketing','Google_ads'},
    'IELTS' : {'Speaking','writing','Reading','Listening'}
}
Courses['IELTS']

{'Listening', 'Reading', 'Speaking', 'writing'}

In [10]:
#5.8
#This one is done with the help of chatgpt, kindly explain and solve this problem in class
Product_List = [
 ('Biscuits', 20),
 ('Nimco', 40),
 ('Chips', 50)
]
In_Range = 40
Affordable_Products = [name for name, price in Product_List if price < In_Range]
print(Affordable_Products)

['Biscuits']